__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
!package.json
!package-lock.json
.env
.DS_Store
*.log
dist/
build/
data/
*.egg-info/
.github/workflows/.env
data/cache/
.envrc
docs/